*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.content{
    width: 30%;
    height: 50px;
    background-color: brown;
}

@media (display-mode: fullscreen) {
    .header{
        background-color: red;
    }
}
@media (max-width: 1000px) {
    .header{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .header{
        flex-direction: column;
        gap: 10px;
    }
    .content{
      width: 100%;
    }
}